:root {
  --header-height: 3.5rem;
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-bold: 700;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
}
html{
    scroll-behavior: smooth;
}

img {
  width: 50px;
  height: 50px;
}

.header {
  position: fixed;
  height: 10vh;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.contain_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  max-height: 10vh;
}
.none {
  display: none;
}
.bxs-cart {
  font-size: 2rem;
  cursor: pointer;
}

.bx-max {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 5px;
  bottom: 5px;
}

.bxs-cart:hover {
  background-color: var(--first-color);
  border-radius: 50%;
  padding: 0.3rem;
}

.contain_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section_home {
  height: 90vh;
  min-height: 90vh;
}

.contain_home {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  padding-top: 100px;
  max-width: 1024px;
  margin: auto;
}

.grid_img {
  height: 40%;
  display: grid;
  grid-template-columns: 1fr 60%;
  max-width: 600px;
}

.home_img {
  grid-column: 2 / 3;
  background-color: var(--first-color);
}

.home_img > img {
  height: 100%;
  width: 100%;
}

.home_data {
  display: grid;
  height: 55%;
  gap: 2rem;
  padding: 1rem;
}

.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
  text-decoration: none;
}

.button--small {
  padding: 1rem 1.5rem;
}

.home_title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
}

.home_price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.products_filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: auto;
}

.products_categories:hover {
  color: black;
  background-image: url(../imagen/);
}

.products_categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  color: var(--text-color-light);
  cursor: pointer;
}

.products {
  width: 100%;
  height: 90vh;
  min-height: 90vh;
  padding: 1rem;
}

.contain_cards {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  gap: 1rem;
}

.card {
  width: 50%;
  height: 35%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.product_img {
  height: 60%;
  width: 100%;
  background-color: var(--text-color-light);
}
.product_img > img {
  width: 100%;
  height: 100%;
}

.product_data {
  padding: 0.5rem;
  background-color: var(--border-color);
  font-size: var(--small-font-size);
  color: var(--text-color);
  position: relative;
}

.content_card {
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: var(--body-color);
  top: 50px;
  text-align: center;
  right: 0;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.car_products {
  display: grid;
  height: 80%;
  padding: 2rem;
  overflow-y: scroll;
  gap: 1rem;
}

.car_products > h2 {
  margin: 50px 0 0 0;
}

.car_products > img {
  height: 80%;
  width: 100%;
}

.cart_buttom {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-evenly;
}

.buttom_icon {
  background-color: var(--text-color-light);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.car_total {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_total2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart_total2 > button {
  padding: 0.4rem 1rem;
  background-color: var(--text-color);
  border: none;
  border-radius: 0.3rem;
  color: var(--container-color);
}

.content_card_click {
  transform: translateX(0);
}

.footer {
  background-color: var(--text-color-light);
  padding: 1rem;
}

.footer_contain,
.ul {
  display: grid;
  gap: 1rem;
  list-style-type: none;
}

.uls {
  display: flex;
  flex-direction: row;
  display: grid;
  gap: 1rem;
}

@media (min-width: 500px) {
  .contain_home {
    flex-direction: row-reverse;
    gap: 0;
  }

  .home_img {
    grid-column: 1 / 3;
  }
  .section_home {
    height: 50vh;
    min-height: 70vh;
  }

  .products_filter {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 700px) {
  .grid_img {
    display: grid;
    grid-template-columns: 1fr 40%;
    max-width: 1024px;
  }

  .products {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contain_cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}



@media (min-width: 900px) {
  .section_home {
    height: 100vh;
    min-height: 100vh;
  }

  .grid_img,
  .home_data {
    height: 100%;
  }

  .none {
    display: inline;
    width: 50%;
    font-size: 20px;
  }

  .none > a {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--text-color);
  }

  .none > a:hover {
    color: var(--first-color);
  }
  .contain_cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: auto;
  }

  .home_data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bx-max {
    top: 35px;
  }
  .footer_contain{
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    margin: auto;
  }
}
